<% include partials/header %>

<div class="container">
    <header class="jumbotron">
        <h1>Welcome to YelpCamp!</h1>
        <p>View our handpicked campgrounds from all over the world!</p>
        <p>
            <a class="btn btn-primary btn-lg" href="/campgrounds/new">Create new campground!</a>
        </p>
    </header>

    <!-- card column style -->
    -CARD COLUMN STYLE-

    <div class="card-columns">
        <% campgrounds.forEach((campground) => { %>
        <div class="card">
            <img class="card-img-top" src="<%= campground.image %>" alt="<%= campground.name %>>" style="height: 100%;">
            <div class="card-body">
                <h5 class="card-title text-center">
                    <%= campground.name %>
                </h5>
                <div class="text-center">
                    <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
                </div>
            </div>
        </div>
        <% }); %>
    </div>

    <!-- grid style
        -GRID STYLE-
        <div class="row">
            <% campgrounds.forEach((campground) => { %>
            <div class="col-lg-4 col-md-6 col-xs-12 mt-3">
                <div class="card">
                    <img class="card-img-top img-fluid" src="<%= campground.image %>" alt="<%= campground.name %>>"
                        style="height: 100%;">
                    <div class="card-body">
                        <h5 class="card-title text-center">
                            <%= campground.name %>
                        </h5>
                        <div class="text-center">
                            <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
                        </div>
                    </div>
                </div>
            </div>
            <% }); %>
        </div>
    
        <hr> -->

    <% include partials/footer %>